<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/mvc/public/css/header.css">
    <link rel="stylesheet" href="/mvc/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/mvc/public/css/formulario.css">
    <link rel="stylesheet" href="/mvc/public/css/pokemonDetalles.css">
    <link rel="stylesheet" href="/mvc/public/css/footer.css">
</head>

<body>
<main>
<header class="contenedor__form">
    <div class="logo">
        <img src="/mvc/public/imagenes/logo/LogoPokeball.png" alt="logo">
        <h1 style="margin-left: 2em" class="pokedex-title">Pokedex</h1>
    </div>

    {{^userLogueado}}
    
    <form class="form" action="/mvc/index.php" method="POST">
        <input type="text" placeholder="Usuario" id="username" class="form__input" name="usuario">
        <input type="password" placeholder="Contraseña" id="password" class="form__input" name="pass">
        <input type="hidden" name="userLogueado" id="userLogueado" value="true">
        <button type="submit" class="form__input-button">Ingresar</button>
        {{! <?php
        if ( isset($_GET['error'])){
            echo "<div style='background-color: aquamarine;color:red; padding: .2em; text-align: center' >Usuario y contraseña invalidos </div> ";
        }
        ?> }}
    </form>
    {{/userLogueado}}
    {{#userLogueado}}
    <div style="color: black; text-align: center">
        <img src="/mvc/public/imagenes/logo/user.png" alt="">
        <h2>admin</h2>
        <a href="/mvc/index.php" style="border: 1px solid black; padding: .1em; text-decoration: none; color: black">Cerrar Sesión</a>
    </div>
    {{/userLogueado}}


</header>
