<main>
        <div class="contenedor">
            <img src="/mvc/public/imagenes/pokemones/{{numero}}.png" alt="{{nombre}}" class="contenedor-img">
            <div class="contenedorInfo">
                <h2 class="contenedorInfo-titulo">{{nombre}} <img src="/mvc/public/imagenes/TipoPokemon/tipo_{{tipo}}.png" alt="{{nombre}}" class="contenedorInfo-tipoImg"></h2>
                <p class="contenedorInfo-texto">{{descripcion}}</p>
            </div>
        </div>
    </main>